@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

section {
	
  background-image:url(./fond.jpg);
  background-position:  center;
  background-size:cover;
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  
  }

.titre {
  padding-left: 30px;
}

h2 {
  font-family: 'open sans', helvetica, arial, sans;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  
  

}

h3 {
    font-family: 'open sans', helvetica, arial, sans; 
    color: black;
    padding-left : 20px;
    
}

h4 {
  font-family: 'open sans', helvetica, arial, sans; 
  color: black;
  padding-left:15px;
}

h5 {
    font-family: 'open sans', helvetica, arial, sans; 
    color: black;
    padding-left:10px;
}


.btn {
    
    border: 1px solid darken(blue, 5%);
    padding: .5em 2em;
    color:black;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
  }
  
.button {
    position: absolute;
    top: 600px;
    left: 205px;
}
.infocomm{
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 40%;
    left: 20%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);}

.infoclient{
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 70%;
    left: 20%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);}

